.wa-current-weather {
  padding: 2em;
  background-color: #3f51b5;
  border-radius: 4px;
  color: white;
  max-height: 259px;
}

.wa-current-weather--empty {
  display: flex;
  font-size: 2em;
  min-height: 259px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wa-current-weather__city-name {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.wa-current-weather__forecast {
  margin-bottom: 1.5em;
}

.wa-current-weather__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wa-current-weather__temperature {
  font-size: 5em;
}
