.wa-hourly-weather {
  height: 0;
  overflow: hidden;
  transition: height 250ms;
}

.wa-hourly-weather--active {
  height: 135px;
}

.wa-hourly-weather__container {
  display: flex;
  grid-column-gap: 1.875em;
  padding: 1em;
  overflow: auto;
}

.wa-hourly-weather__forecast-text {
  margin-top: auto;
}

.wa-hourly-weather__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: white;
  position: sticky;
  left: -1em;
  margin-left: -1em;
  padding-left: 1em;

  @media screen and (max-width: 375px) {
    position: static;
  }
}

.wa-hourly-weather__hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}
