.wa-search-city__paper {
  padding: 15px;
  display: flex;
  align-items: center;
  width: 100%;
}

.wa-search-city__paper--loading {
  opacity: 0.5;
  pointer-events: none;
  position: relative;
}

.wa-search-city__loader {
  position: absolute;
  right: 16px;
  top: 16px;
}

.wa-search-city__input {
  width: 100%;
  border: 0px;
  outline: none;
  font-size: 1.05em;
  background-color: white;
}

.wa-search-city__autocomplete {
  flex: 1;
}
