.wa-weekly-weather {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  overflow: auto;
}

.wa-weekly-weather--empty {
  justify-content: center;
}

.wa-weekly-weather__day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  cursor: pointer;
}
